@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> roleManager
@inject IHttpContextAccessor httpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Solar System App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Solar System App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                    @{
                        bool isAuthenticated = User.Identity.IsAuthenticated;
                        if (isAuthenticated)
                        {

                            //get logged in user id
                            var userId = httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
                            //get entire user by user id
                            var user = await UserManager.FindByIdAsync(userId);
                            //get all roles associated with current user
                            var role = await UserManager.GetRolesAsync(user);

                            for (int i = 0; i < role.Count; i++)
                            {
                                if (role[i].ToLower().Contains("teacher"))
                                {
                                    <ul class="navbar-nav flex-grow-1">
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Teacher" asp-action="Index">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Teacher" asp-action="CreateClassroom">Create Classroom</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Teacher" asp-action="LeaderBoard">Class LeaderBoard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Teacher" asp-action="MyClassroom">My Classes</a>
                                        </li>
                                    </ul>
                                }
                                else if (role[i].ToLower().Contains("student"))
                                {
                                    <ul class="navbar-nav flex-grow-1">
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Student" asp-action="Index">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Student" asp-action="DisplayBodies">Learning Center</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Student" asp-action="ChoseAQuize">Quizzes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Student" asp-action="MyGrades">My Grades</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Student" asp-action="ClassLeaderBoard">Class LeaderBoard</a>
                                        </li>
                                    </ul>
                                }
                                else if (role[i].ToLower().Contains("admin"))
                                {
                                    <ul class="navbar-nav flex-grow-1">
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Administration" asp-action="Index">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Administration" asp-action="CreateRole">Create Role</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Administration" asp-action="ListRoles">Show Roles</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Administration" asp-action="HumanResources">HR Department</a>
                                        </li>
                                    </ul>
                                }
                            }
                        }
                        else
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                                </li>
                            </ul>
                        }
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2020 - Space Edu | Lauren Fryman | Ramez Herrick | Josh Jabour @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
