
@{
    ViewData["Title"] = "AssignARole";
}

<h1>AssignARole for a new user</h1>
@model List<AspNetRoles>


<form action="../Administration/AssignARole" method="post">
    <input type="text" name="FirstName" />
    <input type="text" name="LastName" />
    
    <p>if you are student leave blank</p>
    <input type="text" name="password" />
    <select name="role">
        @foreach (AspNetRoles roles in Model)
        {
            <option value="@roles.Name">@roles.Name </option>
        }
    </select>

    <p>if you are teacher leave blank</p>
    <select name="classId">
        @foreach (Classrooms c in ViewBag.classrooms)
        {
            <option value="@c.Id">@c.ClassName</option>
        }
    </select>
    <input type="submit" />
</form>

