
@{
    ViewData["Title"] = "DisplayClassrooms";
}

<h1>DisplayClassrooms</h1>
@model List<Classrooms>
<table class="table">
    <tr>
        <th>Class Name</th>
    </tr>
    @foreach (Classrooms c in Model)
    {
        <tr>
            <td>@c.ClassName</td>
            <td><a class="btn btn-primary" href="../Administration/DeleteClassroom?id=@c.Id">Remove Class</a></td>
        </tr>
    }

</table>

