
@{
    ViewData["Title"] = "DisplayGrades";
}

<h1>DisplayGrades</h1>

@model PrincipleViewModel
<table class="table">
    <tr>

        <th>Grades</th>
    </tr>
  
        @foreach (Grades g in Model.grades)
        {
            <tr>
               
                    <td>@g.Grade</td>
              

                <td><a class="btn btn-primary" href="../Administration/DeleteGrade?id=@g.Id">Delete grade</a></td>
            </tr>

        }



</table>