
@{
    ViewData["Title"] = "DisplayStudents";
}

<h1>Display users</h1><br />
@model PrincipleViewModel
<table class="table-space table-bordered-space">
    <tr>
        <th>User Name</th>
        <th>Role Name</th>
        <th>Remove User</th>
    </tr>
    @foreach (AspNetUsers u in Model.users)
    {
        <tr>
            <td>@u.UserName</td>
            <td>
                @foreach (AspNetUserRoles a in Model.userRoles)
                {
                    @if (u.Id == a.UserId)
                    {
                        @foreach (AspNetRoles r in Model.roles)
                        {
                            if (r.Id == a.RoleId)
                            {
                                @r.Name <br />
                            }
                        }
                    }
                }
            </td>
            @*<td><a class="btn btn-primary btn-sm regularText" href="../Administration/DeleteUser?id=@u.Id">Remove</a></td>*@
        </tr>
    }

</table>