
@{
    ViewData["Title"] = "DisplayStudents";
}

<h1>Display Students</h1><br />
@model PrincipleViewModel
<table class="table-space table-bordered-space">
    <tr>
        <th>Student Name</th>
        <th>Remove Student</th>
    </tr>
   

        @foreach (Students s in Model.students)
        {
            <tr>
                <td>
                        @s.FirstName @s.LastName <br />
                </td>
                <td><a class="btn btn-primary btn-sm regularText" onclick="return myFunction()" href="../Administration/DeleteStudent?id=@s.Id">Delete student</a></td>
                
            </tr>
        }
    </table>

<script>
    function myFunction() {
        if (confirm("Are you sure you want to delete this item?")) {
            return true;
        }
        else {
            return false;
        }
    }
</script>