
@{
    ViewData["Title"] = "HumanResources";
}

<h1>HR Department</h1>
<br />
<br />

<a class="btn btn-primary" href="../Administration/DisplayStudents">Remove Students</a>
<br />
<br />
<a class="btn btn-primary" href="../Administration/DisplayUsers">Remove Users</a>
<br />
<br />
<a class="btn btn-primary" href="../Administration/DisplayTeachers">Remove Teachers</a>
<br />
<br />
<a class="btn btn-primary" href="../Administration/DisplayClassrooms">Remove Classrooms</a>
<br />
<br />
<a class="btn btn-primary" href="../Administration/DisplayGrades">Remove Grades</a>
<br />
