
@{
    ViewData["Title"] = "Index";
}

    <h1>You are an Admin! YOU HAVE THE POWER</h1>

<a class="btn btn-primary" href="../Administration/DisplayStudents">Display Students</a>
<a class="btn btn-primary" href="../Administration/DisplayUsers">Display Users</a>