
@{
    ViewData["Title"] = "Index";
}
@model ClassroomsViewModel
    <h1>You are an Admin! YOU HAVE THE POWER</h1>

<a class="btn btn-primary" href="../Administration/DisplayStudents">Display Students</a>
<a class="btn btn-primary" href="../Administration/DisplayUsers">Display Users</a>
<a class="btn btn-primary" href="../Administration/DisplayTeachers">Display Teachers</a>
<a class="btn btn-primary" href="../Administration/DisplayClassrooms">Display Classrooms</a>
<a class="btn btn-primary" href="../Administration/DisplayGrades">Display Grades</a>

<h4>List of students with difficulty</h4>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Average Grade</th>
    </tr>

    @foreach (Students cvm in Model.students)
    {
        <tr>
            <td>@cvm.FirstName</td>
            <td>@cvm.LastName</td>
            <td>@cvm.AverageGrade</td>
            
        </tr>
    }
    </table>
