@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "ListRoles";
}

    <div class="contentDiv">
        <h1>All Roles</h1><br />

        @foreach (var r in Model)
        {
            <a href="../Administration/DeleteRole?id=@r.Id" class="btn btn-primary btn-sm">Delete role</a> @r.Name
            <br /><br />
        }
    </div>