@{
    ViewData["Title"] = "Welcome";
}
    <div class="contentDiv">
        <h1>
            Welcome Captain.
            <br />
        </h1>
        <p class="regularText">
            While you are the Captain, here you are the principal. You are the glue that is holding the Space Race together. Use this app to keep track of your teachers and their classes. You will have the power and authority to remove both students and teachers alike. Keep this Space Base it Tip Tip shape. We are counting on you to get the best and brightest cadets out of this program.
        </p>
    </div>