
@{
    ViewData["Title"] = "AddQuizesToDb";
}

<h1>AddQuizesToDb</h1>

<form action="../Teacher/AddQuizesToDb" method="post">
    <input type="text" name="QuizType" placeholder="enter quiz type"/>
    <input type="submit"/>
</form>