
@{
    ViewData["Title"] = "CreateClassroom";
}

    <div class="contentDiv">
        <h1>CreateClassroom</h1>
        @model List<Teachers>

        <form action="../Teacher/CreateClassroom" method="post">
            <p>
                Class Name<br />
                <input type="text" name="ClassName" placeholder="class name" pattern="[A-Za-z0-9]{1,30}" required />
            </p>

            <p>
                Assign Teacher to Class<br />
                <select name="TeacherId">
                    @foreach (Teachers t in Model)
                    {
                        <option value="@t.Id">@t.FirstName @t.LastName</option>
                    }
                </select>
            </p>
            <input type="submit" />
        </form>
    </div>