@model List<Teachers>
@{
    ViewData["Title"] = "Index";
}

<div class="contentDiv">
    @foreach (Teachers t in Model)
    {
        <h1>Welcome @t.FirstName @t.LastName</h1>
    }
    <br />
    <p class="regularText">With this app you will be training some of the brightest minds around. Keep track of who is in your classroom and how they are doing on their quizzes. Keep track of average class and student grades as well as average quiz grade. These cadets are counting on you to steer them to the stars! So get ready to blast off, and good luck. </p>
</div>