@model List<Classrooms>
@{
    ViewData["Title"] = "Index";
}

<h1>Your Classrooms</h1>

<ul>
    @foreach (Classrooms c in Model)
    {
        <li><a href="../Teacher/ClassroomView?id=@c.Id">@c.ClassName</a></li>
    }
</ul>