@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="contentDiv">
        <h1>About Space Edu</h1>
        <br />
        <p class="regularText">
            Welcome to Space EDU! In the not so distant future we will be traveling the stars and exploring planets. But what will not change is the need for education and for ways to connect educators to students.
            <br />
            <br />
            Grading systems and applications can be a pain in the you know what. Having an application that auto generates average grades per student, per class and per quiz makes life a bit easier. This application automatically grades quizzes based on the information in a selected API (Application Programming Interface). No need for you to do the math yourself. This application lets instructors see how their students are doing and how a class as a whole is doing. Students can immediately see how they did on a quiz and see an updated average of their quiz.
        </p>
    </div>