@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Space Edu!</h1>
    <p>
        <br /><img src="~/css/solarSystem.gif" alt="Our Solar System" height="85%" width="85%" />
    </p>
</div>
