@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<header class="align-items-center">
    <img src="~/css/accessDenied.png" />
    <p class="text-warning">You do not have access to this resource.</p>
</header>
