<h1>Please choose a Quiz to take!</h1>

<a href="../Student/TakePlanetsQuiz">Take Planet Quiz</a>
<br />
<a href="../Student/TakeMoonsQuiz">Take Moon Quiz</a>
<br />
<a href="../Student/DisplayGeneralQuiz">Take Who Am I Quiz</a>