<h1>Please choose a Quiz to take!</h1>
<br />

<table class="table-bordered-space table-space">
    <tr>
        <th align="center"><center>Planet Quiz</center></th>
        <th align="center"><center>Moon Quiz</center></th>
        <th align="center"><center>Moon or Planet Quiz</center></th>
    </tr>
    <tr>
        <td align="center">
            <a href="../Student/TakePlanetsQuiz">Take</a>
        </td>
        <td align="center">
            <a href="../Student/TakeMoonsQuiz">Take</a>
        </td>
        <td align="center">
            <a href="../Student/DisplayGeneralQuiz">Take</a>
        </td>
    </tr>
</table>