<h1>Please choose a Quiz to take!</h1>

<table class="table table-bordered">
    <tr>
        <th>Planet Quiz</th>
        <th>Moon Quiz</th>
        <th>Moon or Planet Quiz</th>
    </tr>
    <tr>
        <td class="btn-light">
            <a href="../Student/TakePlanetsQuiz">Take</a>
        </td>
        <td class="btn-light">
            <a href="../Student/TakeMoonsQuiz">Take</a>
        </td>
        <td class="btn-light">
            <a href="../Student/DisplayGeneralQuiz">Take</a>
        </td>
    </tr>
</table>