
@{
    ViewData["Title"] = "ClassLeaderBoard";
}
@model List<Classrooms>

<h2>Classroom leader board</h2>
<br />
<table class="table-bordered-space table-space">
    <tr class="d-table-row">
        <th class="text-center">Class Name</th>
        <th class="text-center">Class Average</th>

    </tr>
    @foreach (Classrooms cr in Model)
    {
        if (cr.ClassAvg != null)
        {
            <tr class="d-table-row">
                <td class="text-center">@cr.ClassName</td>
                @if (cr.ClassAvg != null)
                {
                    <td class="text-center">@cr.ClassAvg%</td>
                }
            </tr>
        }


    }
</table>