
@{
    ViewData["Title"] = "DisplayGeneralQuiz";
}

@model List<Questionsbank>

<h1>Your Star is @ViewBag.body.englishName</h1>
<form action="../Student/DisplayGeneralQuiz" method="post">
    @foreach (Quizes quiz in ViewBag.Quizes)
    {
        if (quiz.Id == 1)
        {
            <h2>@quiz.QuizType</h2>

            @foreach (Questionsbank q in Model)
            {
                if (q.QuizId == 1)
                {
                    <h6>@q.Question.Question</h6>
                }
            }
        }

    }
    <input type="radio" id="true" name="searchtype" value="bool" />
    <label for="true">True</label>
    <input type="radio" id="false" name="searchtype" value="bool" />
    <label for="false">False</label>
    <input type="submit" value="Submit" />
    <input type="number" name="randomStarIndex" value="@ViewBag.randomStarIndex" hidden />
</form>
