
@{
    ViewData["Title"] = "Index";
}

<h1>You are a Student :[ </h1>
<p>Time for work. Choose what you want to do.</p>
<br />
<a href="../Student/ChoseAQuize">Find a Quiz to Take.</a>
<br />
<a href="../Student/MyGrades">Look at my grades.</a>
<br />
<a href="../Student/ClassLeaderBoard">Take a gander at the LeaderBoard.</a>
<br />
<a href="../Student/DisplayBodiess">Let's Learn Some Stuff.</a>