
@{
    ViewData["Title"] = "Index";
}

@model StudentIndexViewModel
  
    <div class="contentDiv">
        <header>
            @foreach (Students s in Model.students)
            {
                <h1>Welcome to @Model.classrooms[0].ClassName! @s.FirstName @s.LastName</h1>
            }
        </header>
        <br />
        <p class="regularText">Time for work. Choose what you want to do.</p>
        <br />
        <a href="../Student/ChoseAQuize">Find a Quiz to Take.</a>
        <br />
        <a href="../Student/MyGrades">Look at my grades.</a>
        <br />
        <a href="../Student/ClassLeaderBoard">Take a gander at the LeaderBoard.</a>
        <br />
        <a href="../Student/DisplayBodies">Let's Learn Some Stuff.</a>
    </div>
