
@{
    ViewData["Title"] = "Index";
}

@model StudentIndexViewModel

<div class="contentDiv">
    <header>
        @foreach (Students s in Model.students)
        {
            <h1>
                Your Team: @Model.classrooms[0].ClassName
                <br />
                Name: @s.FirstName @s.LastName
            </h1>
        }
    </header>
    <br />
    <p class="regularText">
        Welcome to the team cadet! Time to get rolling.
        <br />
        <br />
        With this app you will learn the basics of our planets and moons in the galaxy in order to be the best cadet you can be! The time to explore is upon us and you need to pass the quizzes to get there. We will keep track of the grades and you will continue to learn. You can navigate through the galaxy with the links below or the tabs up top. Good luck!
    </p>
    <br />
    <a href="../Student/ChoseAQuize">Find a Quiz to Take.</a>
    <br />
    <a href="../Student/MyGrades">Look at my grades.</a>
    <br />
    <a href="../Student/ClassLeaderBoard">Take a gander at the LeaderBoard.</a>
    <br />
    <a href="../Student/DisplayBodies">Let's Learn Some Stuff.</a>
</div>
