
@{
    ViewData["Title"] = "TakePlanetsQuiz";
}

<h1>TakePlanetsQuiz</h1>

@model List<Questionsbank>

<form action="../Student/TakePlanetsQuiz" method="post">

    <h2>@ViewBag.body.englishName</h2>


    @foreach (Questionsbank qb in Model)
    {
        if (qb.QuizId == 2)
        {
            <h2>@qb.Question.Question</h2>

            <input type="text" name="answers" placeholder="answer" />

            @*Contains 4 items*@
            List<string> options = new List<string>();
            options.Add("right");
            options.Add("wrong");
            options.Add("wrong");
            options.Add("wrong");
            List<string> something = new List<string>();
            Random number = new Random();
            for (int i = 0; i < 4; i++)
            {
                int index = number.Next(0, options.Count);
                something.Add(options[index]);
                options.RemoveAt(index);
            }
            <select>
                @foreach (string s in something)
                {
                    <option>@s</option>
                }
            </select>
        }
    }

    <br />
    <input type="number" name="randomPlanetIndex" value="@ViewBag.randomPlanetIndex" hidden />
    <input type="submit" />

</form>